* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: lighten; */
  
}
.reload {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}
.result {
    color: black;
    text-align: center;
    font-size: 50px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  3fr 1fr;
}
.game-container {
    display: grid;
    grid-template-rows: 1fr .5fr 4fr;
    align-items: center; 
    grid-column-start: 2;
    grid-row-start: 1;
}

.display-game-result {
    font-size: 30px;
    text-align: center;
    transition: all 1s  ease-in;
    color: yellow;
    opacity: 0;
    font-family: 'Oswald', sans-serif;
}

.rematch-btn {
    background-color: red;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    border-radius: 50%;
    opacity: 0;
    transition: all 1s ease-in;
    cursor: pointer;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.versus {
    color:black;
    font-weight: bolder;
}
.player-selections {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    align-items: center;
    justify-content: center;
    
}
.game-board {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    /* opacity: 1  .5; */
 
}
.row-selections {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}
.selection-area-clicked {
    width: 175px;
    height: 175px;
    transition: all .3s ease-in;
}
img{
    border-radius: 25%;
}

.selection-area {
    width:100%;
    height: 50%;
    transition: all .3s ease-in;
    border-radius: 50%;
    margin: 25% 0;
    cursor: pointer;
    /* position: relative; */    
}
.box {
    width: 175px;
    height: 175px;
    text-align: center;
}
.goal-post {
    background-color: white;
    height: 100%;
    width: 10px;
    margin: 0 40%;
}
.behind-post-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%
}
.behind-post {
    grid-row-start: 2;
    background-color: white;
    height: 100%;
    width: 10px;
    margin: 0 40%;
  
}
.score-board {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
  
}

 .home-score {
    display: grid;
    width: 100%;
    align-items: center;
     height: 75px;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 1;
}

.away-score {
    display: grid;
    width: 100%;
    align-items: center;
    height: 75px;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 2;
}
.home-label {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 75px;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
}
.logo-container {
    display: grid;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    
}
.home-team-logo {
    display: grid;
    align-items: center;
    width: 100%;
    height: 75px;
    grid-column-start: 2;
    grid-row-start: 1;    
}

.away-label {
    display: grid;
    align-items: center;
    width: 100%;
    height: 75px;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
}
.away-team-logo {
    display: grid;
    align-items: center;
    height: 75px;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
}
.winner {
    /* width: 100%;
    height: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    text-align: center; */
    transform: translate3d(0, 0, 0);
    animation:spin 2s linear infinite;

}

.draw {
          /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.away-team-select {
    display: grid;
    background-color: tan;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bolder;
    cursor: pointer; 
        /* reset the appearances*/
        -moz-appearance: none; 
        -webkit-appearance: none; 
        appearance: none;
        /* and then whatever styles you want*/

}

.home-team-select{
    display: grid;
    background-color: tan;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bolder; 
    cursor: pointer;
    text-align: center;
}

.option-styling {
    display: grid;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
   
}

.away-dropbtn {
    width: 200px;
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.home-dropbtn {
    width: 200px;
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.home-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.away-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.home-dropdown-content img:hover {
    background-color: #f1f1f1
}

.away-dropdown-content img:hover {
    background-color: #f1f1f1
}

/* .dropdown:hover .home-dropdown-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

} */
.dropdown-content-show {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}


.dropdown:hover .away-dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: .5;
}

.home-drop-down-item,
.away-drop-down-item {
    width: 35px;
    height: 35px;
}
.home-dropdown {
    width: 200px;
}
.home-drop-down-select {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 200px;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    /* border: 1px solid black; */
    grid-row-start: 1;
}

.home-drop-down-select-img {
    width: 100%;
   
}

.away-dropdown {
    width: 200px;
}
.away-drop-down-select {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 200px;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    /* border: 1px solid black; */
}

.away-drop-down-select-img {
    width: 100%;
}
.home-drop-down-arrow {
    width: 100%;
    border: solid black;
}

.away-drop-down-arrow {
    width: 100%;
    border: solid black;
}


