* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: lighten; */
  
}
.reload {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

}
.result {
    color: black;
    text-align: center;
    font-size: 50px;
}
.game-container {
    display: grid;
    grid-template-rows: 1fr .5fr 4fr;
    align-items: center; 
}

.display-game-result {
    font-size: 30px;
    text-align: center;
    transition: all 1s  ease-in;
    color: yellow;
    opacity: 0;
    font-family: 'Oswald', sans-serif;
}

.rematch-btn {
    background-color: red;
    height: 50px;
    width: 50%;
    margin-left: 25%;
    border-radius: 50%;
    opacity: 0;
    transition: all 1s ease-in;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.player-selections {
    text-align: center;
    
}
.game-board {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    opacity: 1  .5;
 
}
.row-selections {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}
.selection-area-clicked {
    width: 200px;
    height: 200px;
    transition: all .3s ease-in;
}
.selection-area {
    width: 150px;
    height: 100px;
    background: url(../images/afl.png) center center; 
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .1s ease-in;
    border-radius: 50%;
    margin: 10% 10%;
    cursor: pointer;
    /* position: relative; */    
}
.box {
    width: 200px;
    height: 200px;
}
.goal-post {
    background-color: white;
    height: 100%;
    width: 20%;
    margin: 0 40%;
}
.behind-post-container {
    display: grid;
    grid-template-rows: 1fr 1.fr;
}
.behind-post {
    grid-row-start: 2;
    background-color: white;
    height: 100%;
    width: 20%;
    margin: 0 40%;
  
}
.score-board {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
  
}

 .home-score {
    display: grid;
    width: 100%;
    align-items: center;
     height: 75px;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 1;
}

.away-score {
    display: grid;
    width: 100%;
    align-items: center;
    height: 75px;
    text-align: center;
    grid-column-start: 3;
    grid-row-start: 2;
}
.home-label {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 75px;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
}
.logo-container {
    display: grid;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
    
}
.home-team-logo {
    display: grid;
    align-items: center;
    width: 100%;
    height: 75px;
    grid-column-start: 2;
    grid-row-start: 1;    
}

.away-label {
    display: grid;
    align-items: center;
    width: 100%;
    height: 75px;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
}
.away-team-logo {
    display: grid;
    align-items: center;
    height: 75px;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
}
.winner {
    width: 200px;
    height: 200px;
    margin: 10%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    animation:spin 1s linear infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}



select {
    height: 50px;
    background-color: tan;
    align-items: center;
}
option {
    height: 100px;
    list-style: unset;
}
