* {
    box-sizing: border-box;
}

body {
    background-color:red;   
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    background-color: yellow;
    text-align: center  ;
}

.selection-area {
    width: 100%;
    padding: 50px;
    height: 200px;
    background-color: black;
    background-image: none;
}

.player-1 {
    background-color: white;
    background-repeat: round;
    width: 100%;
    padding: 50px;
    height: 200px;
}

.player-2 {
    background-color: white;
    background-repeat: round;
    width: 100%;
    padding: 50px;
    height: 200px;

}

.winner {
    width: 100%;
    padding: 50px;
    height: 200px; 
    background-color: magenta;
    background-image: url("../images/cup.jpeg");
    


}
