* {
    box-sizing: border-box;
}

body {
    background-color:black  
}


.game-board {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    background-color: green;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    grid-gap: 1%;
}

.selection-area {
    width: 100%;
    height: 200px;
    background: url(../images/afl.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
    border-radius: 50%;
    margin-top: 10px;
}
.goal-post {
    background-color: white;
    height: 100%;
    width:50%;
    margin: 0 25%;
}
.behind-post-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.behind-post {
    grid-row-start: 2;
    background-color: white;
    height: 100;
    width: 50%;
    margin: 0 25%;
  
}
/* .player-1 {
    width: 100%;
    padding: 50px;
    height: 200px;

}

.player-2 {
    width: 100%;
    padding: 50px;
    height: 200px;

} */

.winner {
    width: 100%;
    padding: 50px;
    height: 200px; 
    color: red;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    animation:spin 1s linear 5;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}



  




