* {
    box-sizing: border-box;
}

body {
    background-color:black  
}


.game-board {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr 1fr;
    background-color: green;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    grid-gap: 1%;
}

.selection-area {
    width: 100%;
    height: 200px;
    background: url(../images/afl.jpeg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
    border-radius: 50%;
    margin-top: 10px;
}
.goal-post {
    background-color: white;
    height: 100%;
    width:50%;
    margin: 0 25%;
}
.behind-post-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.behind-post {
    grid-row-start: 2;
    background-color: white;
    height: 100;
    width: 50%;
    margin: 0 25%;
  
}
.score-board {
    margin-left: 85%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 10%;
    align-items: center;
    justify-content: center;
    background-color: white;
}
 .home-score {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
  
    background-color: white;

}

.away-score {
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: white;
} 
.home-team-logo {
    height: 50px;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    
}
.away-team-logo {
    height: 50px;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}
.winner {
    width: 100%;
    padding: 50px;
    height: 200px; 
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 50px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    animation:spin 1s linear infinite;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

select {
    height: 100px;
}
option {
    height: 100px;
    list-style: unset;
}



  




